/***************/
/** VARIABLES **/
/***************/
/***************/
/** UTILITIES **/
/***************/
.highlight-selection-container {
  position: relative;
  z-index: 0;
}
.highlight-selection-container img {
  width: 19rem;
}
.highlight-selection-container a:link {
  color: #344b47;
}
.highlight-selection-container a:visited {
  color: #344b47;
}

.highlight-selection {
  position: absolute;
  z-index: 1;
  right: -45px;
  bottom: -90px;
  pointer-events: none;
}

/*****************/
/** VUE CLASSES **/
/*****************/
.backgroundLightBlue {
  background-color: #f0f8ff;
}
.backgroundLightBlue header,
.backgroundLightBlue section,
.backgroundLightBlue footer {
  background-color: #fff;
}

.backgroundBlue {
  background: radial-gradient(circle, #293849 48%, #192b3c 92%);
}

.headerDark {
  background-color: #47586b;
  color: #fff;
}

.navLight {
  background-color: #fff;
}
.navLight ul li a {
  background-color: #fff;
}
.navLight ul li a:link {
  color: #000;
}
.navLight ul li a:visited {
  color: #000;
}

.navDark {
  background-color: #47586b;
}
.navDark ul li a {
  background-color: #47586b;
  color: #fff;
}

.imgBackgroundDark .div1,
.imgBackgroundDark .div2,
.imgBackgroundDark .div3 {
  background: #c5d4e0;
}
.imgBackgroundDark .div1__quote img,
.imgBackgroundDark .div2__quote img,
.imgBackgroundDark .div3__quote img {
  transition: 0s;
  background: #c5d4e0;
}
.imgBackgroundDark .div1 p,
.imgBackgroundDark .div2 p,
.imgBackgroundDark .div3 p {
  color: #344b47;
  font-weight: 700;
}

.sectionDark {
  background-color: #47586b;
  color: #fff;
}
.sectionDark div {
  background-color: #fff;
  color: #000;
}
.sectionDark a:link {
  color: #c5d4e0;
}
.sectionDark a:visited {
  color: #c5d4e0;
}

.footerLight {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.footerLight a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
}
.footerLight a img {
  width: 40%;
}
.footerLight a img[src="img/linkedin_logo.png"] {
  border-radius: 3px;
}
.footerLight a img[src="img/linkedin_logo.png"]:hover {
  filter: brightness(105%);
  border-radius: 3px;
}
.footerLight a img[src="img/github_logo.png"] {
  border-radius: 1rem;
}
.footerLight a img[src="img/github_logo.png"]:hover {
  border-radius: 1rem;
}

.footerDark {
  background-color: #47586b;
}
.footerDark img {
  background: white;
  background: radial-gradient(circle, white 62%, #47586b 75%);
}
.footerDark img[src="img/github_logo.png"] {
  border-radius: 1rem;
}
.footerDark img[src="img/github_logo.png"]:hover {
  filter: opacity(0.85) brightness(110%);
  border-radius: 1rem;
}

.formDark {
  background-color: #47586b;
  color: #fff;
}

/*****************/
/* MAIN SECTIONS */
/*****************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
  padding: 10px;
  font-size: 2vh;
  color: #fff;
}

body {
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5rem;
  padding: 3.5rem;
  margin: 0rem 3rem 0rem 3rem;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  border: 1px solid #000;
}
header h3 {
  font-size: 2.5rem;
}
header h6 {
  letter-spacing: 2px;
}

.animated-header-text {
  --bg-size: 400%;
  --color-one: rgb(86, 136, 201);
  --color-two: rgb(152, 181, 185);
  background: linear-gradient(90deg, var(--color-one), var(--color-two), var(--color-one)) 0 0/var(--bg-size) 100%;
  animation: move-bg 20s infinite linear;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}
.grid-2-col {
  display: grid;
  grid-template-columns: 0.12fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  width: 100vw;
}
.grid-2-col .dark-mode {
  margin-top: 2rem;
}
.grid-2-col nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  align-items: center;
  justify-items: center;
  border: 1px solid #000;
  border-top: none;
  border-bottom: none;
}
.grid-2-col nav ul {
  list-style: none;
  line-height: 8vh;
  font-size: 2vh;
}
.grid-2-col nav ul li {
  background-color: #fff;
}
.grid-2-col nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.grid-2-col nav ul li a :link {
  color: #000;
}
.grid-2-col nav ul li a :visited {
  color: #000;
}
.grid-2-col main {
  overflow-y: scroll;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  align-items: center;
  justify-items: center;
  height: auto;
  padding: 3rem;
  margin: 0rem 3rem 0rem 3rem;
  border: 1px solid #000;
}
.images * {
  padding: 1rem;
  margin: 0.5rem;
}
.images .div1,
.images .div2,
.images .div3 {
  position: relative;
  aspect-ratio: 1/1;
  width: 80%;
  text-align: center;
  border: 1px solid #000;
}
.images .div1 img,
.images .div2 img,
.images .div3 img {
  object-fit: cover;
  width: 100%;
  opacity: 1;
  transition: 0.5s;
}
.images .div1__quote,
.images .div2__quote,
.images .div3__quote {
  position: absolute;
  inset: 0;
  opacity: 0;
  padding-right: 1.8rem;
  font-size: 1vw;
}
.images .div1:hover :not(p),
.images .div2:hover :not(p),
.images .div3:hover :not(p) {
  opacity: 0.05;
  transition: 0.5s;
}
.images .div1:hover .div1__quote,
.images .div2:hover .div1__quote,
.images .div3:hover .div1__quote {
  top: 30px;
  width: 100%;
  opacity: 1;
  transition: 0.7s;
}
.images .div1:hover .div2__quote,
.images .div2:hover .div2__quote,
.images .div3:hover .div2__quote {
  top: 30px;
  width: 100%;
  opacity: 1;
  transition: 0.7s;
}
.images .div1:hover .div3__quote,
.images .div2:hover .div3__quote,
.images .div3:hover .div3__quote {
  top: 30px;
  width: 100%;
  opacity: 1;
  transition: 0.7s;
}

#top-section {
  padding-top: 2.5rem;
}

#images-section,
#overview-section,
#overview-section-2,
#projects-section,
#concern-section,
#optimism-section,
#contact-section {
  padding-top: 3rem;
}

.overview-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  align-items: center;
  justify-items: center;
  height: auto;
  padding: 3rem;
  margin: 0rem 3rem 0rem 3rem;
  border: 1px solid #000;
}

.overview-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
  height: auto;
  padding: 3rem;
  margin: 0rem 3rem 0rem 3rem;
  border: 1px solid #000;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
  height: auto;
  padding: 3rem;
  margin: 0rem 3rem 0rem 3rem;
  border: 1px solid #000;
}

.concern {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
  height: auto;
  padding: 3rem;
  margin: 0rem 3rem 0rem 3rem;
  border: 1px solid #000;
}

.optimism {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
  height: auto;
  padding: 3rem;
  margin: 0rem 3rem 0rem 3rem;
  border: 1px solid #000;
}

.contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
  height: auto;
  padding: 3rem;
  margin: 0rem 3rem 0rem 3rem;
  border: 1px solid #000;
  padding: 1rem;
}

/****************/
/* CONTACT FORM */
/****************/
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
}
.form-container p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container table tr td:first-child {
  vertical-align: top;
  text-align: left;
  padding-right: 2.5rem;
}
.form-container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 40rem;
  font-size: 1rem;
}
.form-container label {
  margin-bottom: 1rem;
}
.form-container input {
  width: 100%;
  padding: 0.3rem;
  margin-bottom: 1rem;
}
.form-container input:hover {
  outline: none;
  border: 2px solid #4682b4;
}
.form-container input:focus {
  outline: none;
  border: 2px solid #4682b4;
}
.form-container textarea {
  width: 100%;
  height: 140px;
  padding: 0.3rem;
  margin-bottom: 1rem;
}
.form-container textarea:hover {
  outline: none;
  border: 2px solid #4682b4;
}
.form-container textarea:focus {
  outline: none;
  border: 2px solid #4682b4;
}
.form-container button {
  width: 105%;
  height: 3rem;
  align-self: center;
  background-color: #d0d7e4;
  font-family: inherit;
  font-size: 1rem;
  color: #000;
}
.form-container button:hover {
  border: 3px solid #4682b4;
  filter: brightness(105%);
}

footer {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 3rem;
  margin: 3rem;
  border: 1px solid #000;
}

/*# sourceMappingURL=style.css.map */
