header {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 5rem;
   padding: 3.5rem;
   margin: 0rem 3rem 0rem 3rem;
   font-weight: 900;
   font-size: 2rem;
   text-align: center;
   border: 1px solid $black;
   background-color: $white;

   h3 {
      font-size: 2.5rem;
   }

   h6 {
      letter-spacing: 2px;
   }

   // Really nice! Attribution: https://codepen.io/jh3y/pen/YzYgMra, thanks @jh3y
   .animated-header-text {
      --bg-size: 400%;
      --color-one: rgb(86, 136, 201);
      --color-two: rgb(152, 181, 185);
      background: linear-gradient(90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)) 0 0 / var(--bg-size) 100%;
      animation: move-bg 20s infinite linear;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-weight: 900;
   }
}