* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Karla', sans-serif;
}

a {
   cursor: pointer;
}

button {
   cursor: pointer;
   padding: 10px;
   font-size: 2vh;
   color: $white;
}

// Entire body overflow is hidden, we set the scroll for the content with 'overflow-y'
body {
   overflow: hidden;
}

.backgroundLightBlue {
   background-color: $background-light-blue;

   header,
   section,
   footer {
      background-color: $white;
   }
}

.backgroundBlue {
   background: radial-gradient(circle, $background-dark-blue-secondary 48%, $background-dark-blue 92%);

}

.images {
   @include grid-3-col-1-row;

   * {
      padding: 1rem;
      margin: 0.5rem;
   }

   .div1,
   .div2,
   .div3 {
      position: relative;
      aspect-ratio: 1 / 1;
      width: 80%;
      text-align: center;
      border: 1px solid $black;

      img {
         object-fit: cover;
         width: 100%;
         opacity: 1;
         transition: 0.5s;
      }

      &__quote {
         position: absolute;
         inset: 0;
         opacity: 0;
         padding-right: 1.8rem;
         font-size: 1vw;
      }

      &:hover {
         :not(p) {
            opacity: 0.05;
            transition: 0.5s;
         }

         .div1__quote {
            top: 30px;
            width: 100%;
            opacity: 1;
            transition: 0.7s;
         }

         .div2__quote {
            top: 30px;
            width: 100%;
            opacity: 1;
            transition: 0.7s;
         }

         .div3__quote {
            top: 30px;
            width: 100%;
            opacity: 1;
            transition: 0.7s;
         }
      }
   }
}

#top-section {
   padding-top: 2.5rem;
}

#images-section,
#overview-section,
#overview-section-2,
#projects-section,
#concern-section,
#optimism-section,
#contact-section {
   padding-top: 3rem;
}

.overview-1 {
   @include grid-3-col-1-row;
}

.overview-2 {
   @include grid-single;
}

.projects {
   @include grid-single;
}

.concern {
   @include grid-single;
}

.optimism {
   @include grid-single;
}

.contact {
   @include grid-single;

   padding: 1rem; // override padding in grid-single
}