body {
   box-sizing: border-box;
   
   display: flex;
   flex-direction: column;
   background: darkslategray;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   padding: 2rem;
}

a {
   color: orange;
   text-decoration: none;
   text-align: center;

   &:hover {
      transition: 0.115s ease-in;
      color: mediumseagreen;
   }
}
