/*************/
/* VARIABLES */
/*************/

$background-dark-blue: #192b3c;
$background-dark-blue-secondary: #293849;
$background-light-blue: #f0f8ff;

$section-dark-blue: #47586b;

$button-grey-blue: #d0d7e4;
$button-hover-blue: #4682b4;

$white: #ffffff;
$black: #000000;
$light-grey: #c5d4e0;
$dark-green: #344b47;
$pale-orange: #ff9966;
